.left {
	width:200px;
    height: 300px;
	
    position:fixed;
	top:200px;
left:10px;
    border:0px solid #000;
	border-radius: 5%;
z-index:999999999999999;
background-color:rgba(220,38,38,0);

}
	.butt{
 border:0px solid #000;
		 position:fixed;
		left:90px;
		top:502px;
		width:30px;
		height:30px;
		border-radius: 50%;
		}
	.hidden {
	display: none;
}