.butt,.left{border:0 solid #000;position:fixed}.left{z-index:999999999999999;background-color:transparent;width:200px;height:300px;top:246px;left:10px;border-radius:5%}.butt{left:93px;top:550px;width:30px;height:30px;border-radius:50%}.hidden{display:none} .imgs{width:200px;
    height: 300px; border-radius: 5%; }
